Laskin/nbproject/private/
Laskin/build/
Laskin/nbbuild/
Laskin/dist/
Laskin/nbdist/
Laskin/nbactions.xml
Laskin/nb-configuration.xml
Laskin/.nb-gradle/
/IntJoukkoSovellus/target/
Tennis/nbproject/private/
Tennis/build/
Tennis/nbbuild/
Tennis/dist/
Tennis/nbdist/
Tennis/nbactions.xml
Tennis/nb-configuration.xml
Tennis/.nb-gradle/
/QueryLanguage1/target/
/KumpulaBiershop/target/
